Repository openfoodfacts/openfoodfacts-hungergames, pull requests merged in 2021-09, with the labels that each got.

#226 feat: clean version of the interactive nutrition table game
  package-lock.json
  package.json
  src/components/InteractiveImage.vue
  src/components/NutritionTable.vue
  src/const.js
  src/data/nutriments_translation_remapped.json
  src/data/nutritions.json
  src/i18n/common.json
  src/i18n/en.json
  src/main.js
  src/off.js
  src/utils/tableExtraction.js
  src/views/NutritionInteractiveView.vue
Labels: nutrition game

#116 feat: show annotation type for annotations that don't take a value
  src/components/LogoCardGrid.vue
Labels: logos game

#264 POC for Eco-Score labels dashboard
  src/components/Menu.vue
  src/i18n/common.json
  src/main.js
  src/views/EcoScoreMenu.vue
Labels: ecoscore
